---
layout: default
title: Home
---

<main class="container">
    <div class="mt-5">
        {% include personal-data.html %}
    </div>
    <hr />
    <div class="row">
        <div class="col-8">
            {% include education.html %}
        </div>
        <div class="col-4">
            {% include skills.html %}
<!--            <hr>-->
<!--            {% include project-list.html %}-->
<!--            <hr>-->
<!--            {% include achievements-list.html %}-->
<!--            <hr>-->
<!--            {% include passion-list.html %}-->
        </div>
    </div>
</main>
