{% assign achievementList = site.data.achievements.items %}
<div class="">
    <div class="section-head mb-4">
        <p>
            <h3 class="underline-green"><span>Achievements</span></h3>
        </p>
    </div>

{% if achievementList %}
    {% for achievement in achievementList %}
        {% assign period = achievement.date.start | append: " - " | append:achievement.date.end %}
        {% assign location = achievement.location.city | append: ", " | append:achievement.location.country %}
        <div class="achievement-list-container">
            {% include _cards/_card-achievement.html
                title = achievement.title
                subTitle = achievement.website.displayText
                url = achievement.website.url
                period = period
                location = location
                description = achievement.description
                faIcon = achievement.faIcon
            %}
            <hr>
        </div>

    {% endfor %}
{% endif %}
</div>