{% assign schools = site.data.school.items %}

<div class="section-head mb-4">
    <h3 class="bottom-border">Education</h3>
</div>

{% if schools %}
<div class="d-flex flex-column justify-content-start">
    {% for school in schools %}
        <div class="mx-1 education-list-container">
            <div class="school-card">
                {% assign degreeAndSpecialty = school.degree | append: " in " | append:school.specialty %}
                {% assign period = school.year.start | append: "-" | append:school.year.end %}
                {% assign location = school.location.city | append: ", " | append:school.location.country %}

                {% include _cards/school-card.html
                schoolName = school.name
                degreeAndSpecialty = degreeAndSpecialty
                period = period
                location = location
                %}
            </div>

            <hr>
        </div>
    {% endfor %}
</div>
{% endif %}