{% assign experienceList = site.data.company.items %}
<div class="">
    <div class="section-head mb-4">
        <h3 class="bottom-border">My <span>Experience</span></h3>
    </div>

{% if experienceList %}
    {% for experience in experienceList %}
    <div class="experience-list-container">
        {% assign period = experience.job.date.start | append: " - " | append:experience.job.date.end %}
        {% assign location = experience.company.location.city | append: ", " | append:experience.company.location.country %}
        {% include _cards/_card-work-experience.html
            title = experience.job.title
            subTitle = experience.company.name
            period = period
            location = location
            description = experience.job.description
            responsibilities = experience.job.responsibilities
        %}
        <hr>
    </div>


    <!--        <div class="row mb-4 d-flex flex-row justify-content-start timeline-right-cards">-->

<!--            <div class="col offset-s-0 offset-md-1 offset-lg-2">-->
<!--                <div class="timeline-period">-->
<!--                    {{ period }}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-1 d-flex justify-content-center">-->
<!--                <div class="timeline-badge badge-primary d-flex justify-content-center align-items-center rounded-circle">-->
<!--                    <i class="fa fa-briefcase"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-6 card ml-2 timeline-panel">-->
<!--                <div class="timeline-panel-heading">-->
<!--                    <h4>{{experience.company.name}}</h4>-->
<!--                </div>-->
<!--                <div class="timeline-panel-title">-->
<!--                    <h5>{{experience.job.title}}</h5>-->
<!--                </div>-->
<!--                <div class="timeline-panel-body">-->
<!--                    <p>{{experience.job.description}}</p>-->
<!--                    <p class="read-more">-->
<!--                        <a href="#" class="nav-link">Read More</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    {% endfor %}
{% endif %}
</div>