.school-card {
  img {
    width: 80%;
  }

  h4 {
    color: #1b242f;
    //font-size: 1.2em;
    font-weight: bold;
  }

  h5 {
    color: #00a78e;
    //font-size: 1.2em;
    font-weight: 600;
  }
}