<div class="d-flex flex-column work-experience-card">
    {% include _cards/_card-header.html
        title = include.title
        subTitle = include.subTitle
    %}
    {% include _cards/_card-period-location.html
        period = include.period
        location = include.location
    %}

    <div class="mt-2">
        <div class="">
            <p>{{ include.description }}</p>
            <ul>
                {% for responsibility in include.responsibilities %}
                    <li>{{ responsibility }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>